<div>
    <div class="btn-toolbar">
        <div class="btn-group" ng-if="!options.widgetButtons">
            <button type="button" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">Add Widget <span
                    class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="widget in options.widgetDefinitions">
                    <a href="#" ng-click="addWidgetInternal($event, widget);"><span class="label label-primary">{{widget.name}}</span></a>
                </li>
            </ul>
        </div>

        <div class="btn-group" ng-if="options.widgetButtons">
            <button ng-repeat="widget in options.widgetDefinitions"
                    ng-click="addWidgetInternal($event, widget);" type="button" class="btn btn-primary">
                {{widget.name}}
            </button>
        </div>

        <button ng-click="clear();" type="button" class="btn btn-info">Clear</button>
    </div>

    <div ui-sortable="sortableOptions" ng-model="widgets" class="dashboard-widget-area">
        <div ng-repeat="widget in widgets" ng-style="widget.style" class="widget-container" widget>
            <div class="widget panel panel-default">
                <div class="widget-header panel-heading">
                    <h3 class="panel-title">
                        {{widget.title}} <span class="label label-primary">{{widget.name}}</span>
                        <span ng-click="removeWidget(widget);" class="glyphicon glyphicon-remove"></span>
                    </h3>
                    
                </div>
                <div class="widget-content panel-body">
                    <div></div>
                </div>
                <div class="widget-ew-resizer" ng-mousedown="grabResizer($event)"></div>
            </div>
        </div>
    </div>
</div>