<div ng-controller="PeopleCtrl">
    <div>
        <b>Change includeUrl to:</b>
        <div class="btn-group">
            <button ng-class="{ active: widget.includeUrl==='app/template/peopleList.html' }" ng-disabled="widget.includeUrl==='app/template/peopleList.html'"class="btn btn-default btn-sm" ng-click="toggleTemplate()">List</button>
            <button ng-class="{ active: widget.includeUrl==='app/template/peopleThumbnail.html' }" ng-disabled="widget.includeUrl==='app/template/peopleThumbnail.html'" class="btn btn-default btn-sm" ng-click="toggleTemplate()">Thumbnail</button>
        </div>
        <div style="padding-bottom: 14px;">
            This methodology does not create a new widget and therefore does not create a new scope and the existing data remains unchanged.
            Notice the names do not change as you toggle between the List and Thumbnail buttons.
        </div>
    </div>
    <div ng-include="widget.includeUrl"></div>
</div>