<div class="row">
    <div class="col-md-12">
        <b>Change widget to:</b>
        <div class="btn-group">
            <button ng-class="{ active: style==='peopleList' }" ng-disabled="style==='peopleList'" class="btn btn-default btn-sm" ng-click="toggleWidget()">List</button>
            <button ng-class="{ active: style==='peopleThumbnail' }" ng-disabled="style==='peopleThumbnail'" class="btn btn-default btn-sm" ng-click="toggleWidget()">Thumbnail</button>
        </div>
        <div style="padding-bottom: 12px;">
            This methodology will destroy the existing widget and creates a new widget with new scope and data.
            Notice the names change as you toggle between the List and Thumbnail buttons.
        </div>
        <div ng-if="dashboardOptions" dashboard="dashboardOptions" class="dashboard-container"></div>
    </div>
</div>